<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_name,"User Name" %><br />
    <%= f.text_field :user_name %>
  </div>
  <div class="field">
    <%= f.label :f_name ,"First Name" %><br />
    <%= f.text_field :f_name %>
  </div>
  <div class="field">
    <%= f.label :l_name,"Last Name" %><br />
    <%= f.text_field :l_name %>
  </div>
  <div class="field">
    <%= f.label :npi ,"National Provider Identifier (NPI)"%><br />
    <%= f.number_field :npi %>
  </div>
  <div class="field">
    <%= f.label :contact_no ,"Contact Number"%><br />
    <%= f.number_field :contact_no %>
  </div>
  <div class="field">
    <%= f.label :password ,"Password"%><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation , "Confirm Password" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
