<h1>Listing Api Calls</h1>


<%= form_tag api_calls_path, :method => 'get' ,id: "api_search" ,remote: true do %>

    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
<% end %>


<p>
  Download:
  <%= link_to "CSV", api_calls_path(format: "csv") %> |
  <%= link_to "Excel", api_calls_path(format: "xls") %>
</p>
<div id="api_calls" ><%= render 'all_api_calls' %> </div>

<%= link_to 'New Api call', home_path %>
