<h1>Listing api_calls</h1>

<table border="1">
  <tr>
    <th>Insurance Company </th>
    <th>Insurance Company NPI </th>
    <th>Patient </th>
    <th>Patient first name </th>
    <th>Patient last name </th>
    <th>Patient Contact Number </th>
    <th>Patient dob </th>
    <th>Coverage Status Code </th>
    <th>Delete </th>



    <th></th>
  </tr>

<% @api_calls.each do |api_call| %>   .
  <% if api_call.doctor_id.to_s == session[:user_id].to_s %>
    <tr>
      <td><%= api_call.payer_name %></td>
      <td><%= api_call.payer_id %></td>
      <td><%= api_call.subscriber_id %></td>
      <td><%= api_call.subscriber_first_name %></td>
      <td><%= api_call.subscriber_last_name %></td>
      <td><%= api_call.patient_contact_no %></td>
      <td><%= api_call.subscriber_dob %></td>
      <td><%= link_to 'Show', api_call %></td>
      <td><%= link_to 'Destroy', api_call, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>

<% end %>
</table>

<br />

<%= link_to 'New Api call', home_path %>
