<!DOCTYPE html>
<html>
<head>
  <title>Sample app</title>
  <%= stylesheet_link_tag "application"  %>
  <%= stylesheet_link_tag "application"  ,:media => "all"%>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="store">
<div id="banner">
  <%= @page_title ||"Sample app" %>
</div>
<div id="columns">
  <div id="side">
    <p></p>
    <%= link_to 'Home',home_url%><br>
    <% if session[:user_id] != nil %>
        <%= link_to 'Api calls',api_calls_url%><br>
        <%= link_to 'Logout',logout_url%><br>

    <% else %>
        <%= link_to 'Login',login_url%><br>
  <% end %>
    <div id="time">
      Time : <%= Time.now %>
    </div>
  </div>
  <div id="main">
    <%= yield %>
  </div>
</div>



</body>
</html>
