<!DOCTYPE html>
<html>
<head>
  <title>Sample app</title>
  <%= stylesheet_link_tag "sacffold"  %>
  <%= stylesheet_link_tag "application"  ,:media => "all"%>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="store">
<div id="banner">
  <%= image_tag("logo.png") %>
  <%= @page_title ||"Sample app" %>
</div>
<div id="columns">
  <div id="side">
    <p></p>
    <a href="http://localhost:3000">Home</a><br>
    <% if session[:user_id] != nil %>
        <a href="http://localhost:3000/api_calls">Api calls</a><br>
        <a href="http://localhost:3000/logout">Logout</a><br>

    <% else %>
      <a href="http://localhost:3000/login">Login</a><br>
  <% end %>
    <div id="time">
      Time : <%= Time.now %>
    </div>
  </div>
  <div id="main">
    <%= yield %>
  </div>
</div>



</body>
</html>
